name: Plugin deployment

on:
  pull_request:

concurrency:
  group: publish-plugin-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy the plugin for ${{ matrix.environmentName }}
    runs-on: arc-runners-large
    timeout-minutes: 60
    strategy:
      matrix:
        environmentName:
          - 252
          - 253
      fail-fast: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup Coretto JDK
        uses: actions/setup-java@v4
        with:
          java-version-file: '.java-version'
          distribution: 'corretto'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Generate timestamp
        run: echo "VERSION=$(date +'%Y.%m.%d-%H%M')" >> $GITHUB_ENV

      - name: Build plugin
        run: ./gradlew buildPlugin -PenvironmentName=${{ matrix.environmentName }} -PpluginVersion=${{ env.VERSION }}

      - name: Upload plugin to PR
        uses: actions/upload-artifact@v4
        with:
          name: HyperskillAcademy-${{ env.VERSION }}-${{ matrix.environmentName }}
          path: intellij-plugin/build/distributions
          retention-days: 3

      - name: Run tests
        continue-on-error: true
        run: ./gradlew test -PenvironmentName=${{ matrix.environmentName }} -PpluginVersion=${{ env.VERSION }}

      - name: Verify plugin
        run: ./gradlew verifyPlugin -PenvironmentName=${{ matrix.environmentName }} -PpluginVersion=${{ env.VERSION }}

      - name: Upload plugin to Marketplace
        if: github.ref == 'refs/heads/main' &&
          github.event_name == 'push' &&
          steps.run-tests.outcome == 'success'
        continue-on-error: true
        run: ./gradlew publishPlugin -PenvironmentName=${{ matrix.environmentName }} -PpluginVersion=${{ env.VERSION }}
        env:
          JB_MARKETPLACE_TOKEN: ${{ secrets.JB_MARKETPLACE_TOKEN }}